/*----------------------------------------------ALL*/

body	{
	font-family: Helvetica, sans-serif;
	color: rgba(0, 0, 0, .6);
}


 .form-control:focus {
  border-color: #009b95;
  outline: 0;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 226, 0, 6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 226, 0, 0.6);*/
  }

  span	{
  	color: #009b95;
  }
/*----------------------------------------------URLS-----------------*/
/*-------------------------------------------------------------------*/
/*----------------------------------_FORM_SEARCH.HTML.ERB*/

.webpage-name	{
	text-align: center;
	font-size: 10em;
	font-family: 'Medula One', cursive;
	color: #009b95;
}

.search 	{
	text-align: center;
}

.search-elements{
	width: 100%;
	text-align: center;
}

.input-group-addon	{
	display: inline;
}

.form-control	{
	width: 450px;
	display: inline;
}

.btn	{
	background-color: #009b95;
	border: 0;
}

.btn:hover	{
	background-color: #006B53;
	color: #white;
}

/*----------------------------------------------EDIT.HTML.ERB*/


.alert	{
	margin-top: 20px;
	width: 500px;
}

.str-alert	{
	font-size: 2em;
}

.goto	{
	display: inline;
}

.customize	{
	display: inline;
	color: #009b95;
}

.row-text-field	{
	display: inline;
}

.cols	{
	max-width: 140px;
	min-width: 140px;
	display: inline;
}

.customizable-str	{
	height: 30px;
	margin-top: -3px;
	width: 141px;
}

.cols-group {
	margin-top: 11px;
}

.input-group-addon	{
	background: #ffe200;
}

.glyphicon	{
	display: inline;
}

input["url_random_string"]	{
	display:inline;
}

.goto-chevron	{
	color: #009b95;
}

/*----------------------------------------------Admin.HTML.ERB*/

.column-link	{
	max-width: 100px;
}

/*----------------------------------------------_URL.HTML.ERB*/

.display-con	{
	padding-top: 50px;
}

.display-link	{
	text-align: right;
	text-decoration: none;
	color: #34D2AF;
}

.display-row	{
	background: white;
	margin: 13px;
	padding: 20px;
}

.display-box 	{
	width: 450px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.image-icon	{
	background-image: url('gnome.png');
}

.click-display	{
	width: 100px;
}

@media(max-width: @screen-xs-max) {

	.display-box {
		width: 300px;
	}



}

/*make a media query for when the screen is iphone size*/


/*----------------------------------------------USERS----------------*/
/*-------------------------------------------------------------------*/
/*----------------------------------------------_URL.HTML.ERB*/

.navbar	{
	background-color: #ffe200;
	margin-top: -65px;
}

.navbar-options	{
	display: inline;
}

.navbar-options a	{
	color: #555555;
	padding: 20px;
	background-size: 100px;
}

.navbar-options a:hover	{
	background: #eee;
	text-decoration: none;
	color: #009b95;
	font-variant: bold;

}

.con-navbar-options	{
	padding-top: 25px;
	text-align: right;
	margin-right: -15px;
}

/*----------------------------------------------NEW.HTML.ERB*/

#user_name, #user_email, #user_password, #user_password_confirmation, 
#session_email, #session_name, #session_password {
	width: 100%;
}

.form-sigin-heading	{
	text-align: center;
	color: #009b95;
}

.sign-up-now	{
	text-align: center;
}



